.columns {
  display: flex;
  align-items: flex-start;
  width: max-content;
  padding: var(--space-1);
  overflow-x: auto;
}

.columns > * + * {
  margin-left: var(--space-7);
}

.stack > * + * {
  margin-top: var(--space-3);
}
