.root {
  width: 270px;
  padding: var(--space-3);
  border-radius: 3px;
  background-color: var(--c-column);
}

.stack > * + * {
  margin-top: var(--space-3);
}

.title {
  border: none;
  background: none;
  cursor: pointer;

  /* left aligns column title with card text */
  padding-left: var(--space-3);
}
