.root {
  padding: var(--space-3);
  border-radius: 3px;
  background-color: var(--c-card);
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  margin-right: var(--space-3);
}

.description {
  margin-top: var(--space-3);
  color: var(--c-dark-grey);
  font-size: var(--text-small);
}
