.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stack > * + * {
  margin-top: var(--space-7);
}

.title {
  border: none;
  background: none;
}

.title:invalid {
  border: 2px solid var(--c-red);
}

.label {
  width: 100%;
}

.description {
  height: 200px;
  width: 100%;
  margin-top: var(--space-1);
  padding: var(--space-3);
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px -1px #091e4240, 0 0 0 1px #091e4214;
  resize: none;

  /* clamp up to 3 lines */
  /* https://css-tricks.com/almanac/properties/l/line-clamp */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-4);
}

.left {
  flex: 1 1 auto;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
